<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kurzusok szerkesztése</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'success' %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h1>Kurzusok szerkesztése</h1>

    <form method="POST">

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Kód</th>
                    <th>Név</th>
                    <th>Kredit</th>
                    <th>Szerkesztés</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td>{{ course.id }}</td>
                    <td><input type="text" name="code_{{ course.id }}" value="{{ course.code }}"></td>
                    <td><input type="text" name="name_{{ course.id }}" value="{{ course.name }}"></td>
                    <td><input type="text" name="credit_{{ course.id }}" value="{{ course.credit }}"></td>
                    <td><input type="checkbox" name="selected_courses[]" value="{{ course.id }}"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <button type="submit" name="edit_selected_courses">Kiválasztottak szerkesztése</button>
    </form>

    <h1>Új kurzus hozzáadása</h1>

    <form method="POST">
        <label for="new_code">Kód:</label>
        <input type="text" id="new_code" name="new_code" required><br><br>

        <label for="new_name">Név:</label>
        <input type="text" id="new_name" name="new_name" required><br><br>

        <label for="new_credit">Kredit:</label>
        <input type="text" id="new_credit" name="new_credit" required><br><br>

        <button type="submit" name="add_new_course">Új kurzus hozzáadása</button>
    </form>

    <br>
    <a href="{{ url_for('admin', user_id=user_id) }}">Kezdőlap</a>

</body>
</html>