<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body style="background-color:cadetblue">
    <div id="message-container"></div>
    <input type="text" id="message-input" placeholder="Type your message...">
    <button id="send-button">Send</button>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script>
        // Socket. kapcsolódás
        var socket = io('http://localhost:5555');

        // új üzenet hozzáadása
        function addMessage(messageObject) {
            var messageContainer = document.getElementById('message-container');
            messageContainer.innerHTML += '<div><strong>' + messageObject.username + ':</strong> ' + messageObject.message + '</div>';
        }
          // üzeent küldés
        function sendMessage() {
            var messageInput = document.getElementById('message-input');
            var message = messageInput.value;
            var user_id = "{{ user_id }}"; // Itt a felhasználó azonosítóját adod meg
            // üzenet és felhasználó küldése
            socket.emit('chat_message', { user_id: user_id, message: message });
            messageInput.value = ''; 
        }

        //  küldés gomb
        document.getElementById('send-button').addEventListener('click', function (event) {
            event.preventDefault(); 
            sendMessage();
        });

        // enter nyomás
        document.getElementById('message-input').addEventListener('keypress', function (event) {
            if (event.key === 'Enter') {
                event.preventDefault(); 
                sendMessage();
            }
        });

        // érkező üzenet
        socket.on('chat_message', function (message) {
            addMessage(message);
        });

    </script>

    <br>
    <br>

    <a href="{{ url_for('user', user_id=user_id) }}">Vissza a kezdőlapra</a>

    <br>
    <br>

    <form action="{{ url_for('logout', user_id=user_id) }}" method="post">
        <button type="submit">Kijelentkezés</button>
    </form>

</body>
</html>