<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kurzusok szűrése hallgatók szerint</title>
</head>
<body style="background-color: lightgreen;">

    {% if selected_degree %}
    <h1>Hallgatók kurzusai {{ selected_degree.name }} szak szerint: </h1>
    {% else %}
    <h1>Hallgatók szűrése</h1>
    {% endif %}

    <!-- Szűrő form -->
    <form action="/hallgatok_szures" method="get">
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <label for="degree">Szak:</label>
        <select name="degree" id="degree">
            <option value="">Válassz szakot...</option>
            {% for degre in degrees %}
            {% if degre.id %}
            <option value={{ degre.id }}> {{ degre.name }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <input type="submit" value="Szűrés">
    </form>

    <!-- Hallgatók és kurzusok táblázata -->
    <table>
        <thead>
            <tr>
                <th>Hallgató</th>
                <th>Kurzuskód</th>
                <th>Kurzusnév</th>
                <th>Kredit</th>
            </tr>
        </thead>
        <tbody>
            {% for student_course in student_courses %}
            <tr>
                <td>{{ student_course.student.username }}</td>
                <td>{{ student_course.course.code }}</td>
                <td>{{ student_course.course.name }}</td>
                <td>{{ student_course.course.credit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <a href="{{ url_for('user', user_id=user_id) }}">Vissza a kezdőlapra</a>


</body>
</html>