<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kezdőlap</title>
</head>
<body style="background-color: dimgray;">

    <h1>Üdv a Moodle_2.0 lapján!</h1>

    <h2>Bejelentkezés</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {% if category == "registration_success"%}
        <div style="background-color: #99ff99; color: #000000; padding: 10px; margin-bottom: 10px;">{{ message }}</div>
        {% else %}
        <div style="background-color: #ff9999; color: #ffffff; padding: 10px; margin-bottom: 10px;">{{ message }}</div>
        {% endif %}
    </div>
    <br>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form action="/login" method="post">
        <label for="username">Felhasználónév:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Jelszó:</label><br>
        <input type="password" id="password" name="password"><br><br>
        <input type="submit" value="Bejelentkezés">
    </form>

    <h2>Regisztráció</h2>

    <form action="/register" method="post">
        <label for="reg_username">Felhasználónév:</label><br>
        <input type="text" id="reg_username" name="reg_username" required><br>
        <label for="reg_password">Jelszó: (Kis,nagy betű, 12 karakter, szám)</label><br>
        <input type="password" id="reg_password" name="reg_password" pattern="(?=.*\d)(?=.*[A-Z]).{12,}" title="Nem megfelelő jelszó"  required><br>
        <label for="reg_password2">Jelszó ismét:</label><br>
        <input type="password" id="reg_password2" name="reg_password2" pattern="(?=.*\d)(?=.*[A-Z]).{12,}" required><br><br>
        <label for="reg_name">Név:</label><br>
        <input type="text" id="reg_name" name="reg_name"><br><br>
        <select id="reg_degree" name="reg_degree">
            {% for degre in degrees %}
            {% if degre.id %}
            <option value={{ degre.id }}> {{ degre.name }}</option>
            {% endif %}
            {% endfor %}
        </select><br><br>        <input type="submit" value="Regisztráció">
    </form>
</body>
</html>
