<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Felhasználó kurzusai</title>

</head>

<body style="background-color: lightblue;">
    {% if selected_degree %}
    <h1>Szűrés szak szerint: {{ selected_degree.name }}</h1>
    {% else %}
    <h1>Szűrés szak szerint:</h1>
    {% endif %}
    <form action="/szuro" method="get">
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <label for="degree">Szak:</label>
        <select name="degree" id="degree">
            <option value="">Válassz szakot...</option>
            {% for degre in degrees %}
            {% if degre.id %}
            <option value={{ degre.id }}> {{ degre.name }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <input type="submit" value="Szűrés">
    </form>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Kurzuskód</th>
                <th>Kurzusnév</th>
                <th>Kredit</th>
            </tr>
        </thead>
        <tbody>


            {% for course in filtered_courses %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.code }}</td>
                <td>{{ course.name }}</td>
                <td>{{ course.credit }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br>
    <br>

    <a href="{{ url_for('user', user_id=user_id) }}">Vissza a kezdőlapra</a>



</body>
</html>